.component__involve--component {
    display:flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.884);

    .upper {
        display: flex;
        flex: 1;

        .left {
       
            flex: 0.3;
            color: white;
            align-items: center;
            display: flex;
            justify-content: center;
            padding-left: 40px;
        }
    
        .right {
            background-color: white;
            flex: 1;
            clip-path: polygon(3.75% 0%, 100% 0%, 100% 100%, 0% 100%);
            display: flex;
            justify-content: right;
            flex-wrap: wrap;
            padding: 20px;
            color: rgba(0, 0, 0, 0.637);

            a {
                text-decoration: none;
                color: rgba(0, 0, 0, 0.637);
            }
            

            h4 {
                font-size: 16px;
            }

            div {
                width: 95%;
                span {
                    color: goldenrod;
                    font-size: 24px;
                }
            }
        }
        
    }

    // .lower {
    //     flex: 1;
    //     height: 750px;
    //     width: 500px;
    //     justify-self: center;
    //     align-self: flex-end;
    //     // display: flex;
    //     // justify-content: center;
    //     text-align: center;
    //     background-color: white;
        
    //     img {
    //         height: 500px;
           
    //     }
    // }
    
}