


body {
  background-image: url('../src/img/pexels-hassan-ouajbir-1535244.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;

  font-family: "Source Sans 3"
  
  /* z-index: -1; */
  /* opacity: 1; */
 
  
}

.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  
}

a {
  text-decoration: none;
}